html{font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{margin: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display: block;}
audio,canvas,progress,video{display: inline-block;vertical-align: baseline;}
audio:not([controls]){display: none;height: 0;}
[hidden],
template{display: none;}
a{background-color: transparent;}
a:active,a:hover{outline: 0;}
abbr[title]{border-bottom: 1px dotted;}
b,strong{font-weight: bold;}
dfn{font-style: italic;}
h1{font-size: 2em;margin: 0.67em 0;}
mark{background: #ff0;color: #000;}
small{font-size: 80%;}
sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup{top: -0.5em;}
sub{bottom: -0.25em;}
img{border: 0;}
svg:not(:root){overflow: hidden;}
figure{margin: 0;}
hr{box-sizing: content-box;height: 0;}
pre{overflow: auto;}
code,kbd,pre,samp{font-family: monospace, monospace;font-size: 1em;}
button,input,optgroup,select,textarea{color: inherit;font: inherit;margin: 0;}
button{overflow: visible;}
button,select{text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled]{cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner{border: 0;padding: 0;}
input{line-height: normal;}
input[type="checkbox"],
input[type="radio"]{box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height: auto;}
input[type="search"]{-webkit-appearance: textfield;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
fieldset{border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend{border: 0;padding: 0;}
textarea{overflow: auto;}
optgroup{font-weight: bold;}
table{border-collapse: collapse;border-spacing: 0;}
td,th{padding: 0;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
:after, :before{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content{width: 640px;display: block;}
iframe{display: block;margin: 0;padding: 0;}
.cnt-video{position: relative;width: 100%;height: 100%;}
.form-dni{position: absolute;top: 0;right: 0;left: 0;bottom: 0;background: #000;z-index: 99;}
.form-dni input{background: #fff;color: #888;text-align: center;font-family: 'Open Sans', sans-serif;font-weight: 300;display: block;margin: 0 auto 25px;border: none;padding: 10px 10px;width: 260px;font-size: 18px;outline: 0;}
.cnt-interna-l{color: #fff;font-size: 24px;text-align: center;display: block;height: 166px;width: 260px;position: absolute;top: 50%;left: 50%;margin-left: -130px;margin-top: -83px;}
.btn{display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;text-decoration: none;text-transform: uppercase;width: 215px}
.btn-primary{color: #fff;background-color: #337ab7;border-color: #2e6da4;}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px}
.btn.focus,.btn:focus,.btn:hover{color: #333;text-decoration: none}
.btn.active,.btn:active{background-image: none;outline: 0;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);box-shadow: inset 0 3px 5px rgba(0,0,0,.125)}
.error{color: red;font-size: 12px;display: none;margin-top: -10px;margin-bottom: 10px;font-family: arial;text-align: center;}